<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
ul {
	justify-content: center;
	display: flex;
}
</style>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
	<p align="center">
		<font size="15" color="red">TooPots</font>
	</p>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav" aria-controls="navbarNav"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<ul class="nav nav-pills">
		<li class="nav-item"><a class="nav-link active"
			href="/usuario/add">Registrarse</a></li>
		<li class="nav-item"><a class="nav-link" href="/login">Log
				in</a></li>
		<li class="nav-item"><a class="nav-link"
			href="/administradores/admin">Ventana Administradores</a>
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="/sobre/sobreNosotros" role="button"
			aria-haspopup="true" aria-expanded="false">SobreNosotros</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/sobre/contacta">Contactanos</a>
			</div></li>
	</ul>

	<br></br>
	<br></br>

	<ul>
	<form action="#" th:action="@{/login/login}" th:object="${usuario}" method="POST">
		<table>
				<tr>
				
					<td><label>Usuario</label></td>
					<td><input type="text" th:field="*{emailUsuario}" /></td>
				</tr>
				<tr>
					<td><label>Contraseña</label></td>
					<td><input type="password" th:field="*{contrasenya}" /></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><input type="submit"
						value="Entrar" /></td>
				</tr>
				
			</table>
		</form>
	</ul>
	
</body>
</html>