<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
ul {
	justify-content: center;
	display: flex;
}
</style>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>

	<br></br>

	<ul>
	<form action="#" th:action="@{/login/login}" th:object="${usuario}" method="POST">
		<table>
				<tr>
				
					<td><label>Usuario: </label></td>
					<td><input type="text" th:field="*{emailUsuario}" /></td>
				</tr>
				<tr>
					<td><label>Contraseña: </label></td>
					<td><input type="password" th:field="*{contrasenya}" /></td>
				</tr>
				<tr>
					<td align="center" colspan="2"><input type="submit"
						value="Entrar" /></td>
				</tr>
				
			</table>
		</form>
	</ul>
	
</body>
</html>