<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/base}">
<head>

<style>
ul {
	justify-content: center;
	display: flex;
}
</style>

<title>EI1027</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>

	<div layout:fragment="content">
		<!-- Meter lo del dentro del row en un bucle. -->
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Imagen</h5>
						<p class="card-text">With supporting text below as a natural
							lead-in to additional content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">					
					<div class="card-body">
						<h5 class="card-title">Nombre de actividad:</h5>
						<div class="row">
							<div class="col-md-6">
								<p>Estado:</p>
								<p>Nivel de la actividad:</p>
								<p>Tipo de la actividad:</p>
								<p>Duracion:</p>
								<p>Descripción:</p>
								<p>Fecha de la actividad:</p>
								<p>Precio por persona:</p>
							</div>
							<div class="col-md-6">
								<p>Asistentes Mínimos:</p>
								<p>Asistentes Máximos:</p>
								<p>Lugar de la actividad:</p>
								<p>Destino final de la actividad:</p>
								<p>Hora de la llegada al destino:</p>
								<p>Hora de la llegada al destino:</p>
								<p>Numero de plazas:</p>
							</div>
						</div>
					</div>
				</div>



			</div>
		</div>
	</div>
</body>
</html>
