<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<style>
ul {
	justify-content: center;
	display: flex;
}
</style>
<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

<!-- app css  -->
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" />

<title layout:title-pattern="$CONTENT_TITLE">TooPots</title>
</head>

<body class="container">
	<header class="page-header">
		<p align="center">
			<a href="/static/index.html"><font size="15" color="red">TooPots</font></a>
		</p>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<ul class="nav nav-pills">
			<li class="nav-item"><a class="nav-link active"
				href="/usuario/add">Registrarse</a></li>
			<li class="nav-item"><a class="nav-link" href="/actividad/list">Actividades</a></li>
			<li class="nav-item"><a class="nav-link" href="/login">Log
					in</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/administradores/admin">Ventana Administradores</a>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" data-toggle="dropdown"
				href="/sobre/sobreNosotros" role="button" aria-haspopup="true"
				aria-expanded="false">SobreNosotros</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/sobre/contacta">Contactanos</a>
				</div></li>
		</ul>
	</header>
	<div th:replace="fragments/nav"></div>
	<div th:replace="fragments/logininfo"></div>
	<div layout:fragment="content"></div>
	<footer>
		<h1>Llista d'usuaris del sistema</h1>
		<div th:replace="fragments/logininfo">...</div>
	</footer>
</body>
</html>
