<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
	
<head>

<style>
ul {
	justify-content: center;
	display: flex;
}
</style>
<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />

<!-- app css  -->
<link th:href="@{/css/style.css}" href="/css/style.css" rel="stylesheet" />

<title layout:title-pattern="$CONTENT_TITLE">TooPots</title>
</head>

<body class="container">
	<header class="page-header">
		<p align="center">
			<a href="/index.html"><font size="15" color="red">TooPots</font></a>
		</p>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</header>
	<div th:replace="fragments/nav"></div>
	<div layout:fragment="content"></div>
	<footer>
		<hr>
		<div th:replace="fragments/logininfo"></div>
		<p class="text-muted">©FVR 2019</p>>
		
	</footer>
</body>
</html>
