
#full-clndr {
    background-color: #fff;
    font-weight: bold;
}

#full-clndr .clndr-controls .clndr-previous-button, #full-clndr .clndr-controls .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
}

#full-clndr .clndr-controls {
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px 10px;
}

#full-clndr .clndr-controls .clndr-previous-button {
	float: left;
}


#full-clndr .clndr-controls .clndr-next-button {
	float: right;
}

#full-clndr .clndr-controls .current-month {
	text-align: center;
}

#full-clndr .clndr-grid {
    float: left;
    width: 65%;
    border-right: 2px solid white;
}
#full-clndr .clndr-grid .days-of-the-week {
    width: 100%;
    background-color: #2D8074;
}
#full-clndr .clndr-grid .days-of-the-week .header-day {
    float: left;
    width: 14.2857%;
    padding: 14px;
    text-align: center;
    color: white;
}
#full-clndr .clndr-grid .days {
    width: 100%}
#full-clndr .clndr-grid .days .day, #full-clndr .clndr-grid .days .empty {
    float: left;
    width: 14.2857%;
    height: 66px;
    padding: 24px 0;
    text-align: center;
    color: #4f4f4f;
    background-color: #ebebeb;
    border-bottom: 2px solid white;
    background-image: url('./triangle.svg');
    background-size: cover;
    background-position: center;
}
#full-clndr .clndr-grid .days .day.event .day-number, #full-clndr .clndr-grid .days .empty.event .day-number {
    padding-bottom: 4px;
    border-bottom: 2px solid #3883a3;
}
#full-clndr .clndr-grid .days .day.event, #full-clndr .clndr-grid .days .empty.event {
    background-color: #DBEBC5;
    border: 2px solid #C2EB8D;
    
}
#full-clndr .clndr-grid .days .day.adjacent-month .day-number, #full-clndr .clndr-grid .days .empty.adjacent-month .day-number {
    opacity: .3;
}
#full-clndr .clndr-grid .days .today {
    background-color: white;
    background-image: none;
}
#full-clndr .event-listing {
	background-color: #ebebeb;
    float: left;
    width: 35%
}

#full-clndr .event-listing .event-listing-title {
    padding: 14px;
    background-color: #3AA697;
    text-align: center;
    color: white;
}
#full-clndr .event-listing .event-item {
    padding: 14px;
    color: #4f4f4f;
}
#full-clndr .event-listing .event-item-location {
    font-weight: 400;
}
