<!DOCTYPE html>
<html>
<head>

<style>
ul {
	justify-content: center;
	display: flex;
}
</style>

<title>Listar instructores</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>

	<br></br>

	<div class="container">
		<h1>Lista de los instructores</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Identificador del instructor:</th>
					<th>Estado:</th>
					<th>Nombre:</th>
					<th>Domicilio:</th>
					<th>Email:</th>
					<th>IBAN:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="instructor: ${instructores}">
					<td th:text="${instructor.idInstructor}"></td>
					<td th:text="${instructor.estado}"></td>
					<td th:text="${instructor.nombre}"></td>
					<td th:text="${instructor.domicilio}"></td>
					<td th:text="${instructor.email}"></td>
					<td th:text="${instructor.iban}"></td>

					<td><a
						th:href="@{/instructor/update/{idInstructor}(idInstructor=${instructor.idInstructor})}"
						class="btn btn-warning" role="button">Editar</a></td>
					<td><a
						th:href="@{/instructor/delete/{idInstructor}(idInstructor=${instructor.idInstructor})}"
						class="btn btn-danger" role="button">Borrar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="add" class="btn btn-success" role="button">Añadir instructor</a>
	</div>
</body>
</html>