<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nuevo cliente</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Añadir un cliente</h2>
    <form action="#" th:action="@{/cliente/add}" 
                     th:object="${cliente}" method="post"> 
      <table>
        <tr>
            <td><label>Identificador del cliente: </label></td>
            <td><input type="text" th:field="*{idCliente}" /></td> 
        </tr>
        <tr>
            <td><label>Nombre: </label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Email: </label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Sexo: </label></td>
            <td><input type="text" th:field="*{sexo}" /></td>
        </tr>
         <tr>
            <td><label>Fecha nacimiento: </label></td>
            <td><input type="text" th:field="*{fechaNacimiento}" /></td>
        </tr> <tr>
            <td colspan="2"><input type="submit" value="Añadir Cliente" /></td>
        </tr>
      </table>
    </form>
</body>
</html>