
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gestionar los clientes</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Lista de los clientes</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<p>Identificador del cliente:</th>
					<p>Nombre:</th>
					<p>Email:</th>
					<p>Sexo:</th>
					<p>Fecha de nacimiento:</th>
					<p></th>
					<p></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td th:text="${cliente.idCliente}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.email}"></td>		
					<td th:text="${cliente.sexo}"></td>
					<td th:text="${cliente.fechaNacimiento}"></td>
					
					<td><a
						th:href="@{/cliente/update/{idCliente}(idCliente=${cliente.idCliente})}"
						class="btn btn-warning" role="button">Editar</a></td>
					
					<td><a
						th:href="@{/cliente/delete/{idCliente}(idCliente=${cliente.idCliente})}"
						class="btn btn-danger" role="button">Borrar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="add" class="btn btn-success" role="button">Añadir cliente</a>
	</div>
</body>
</html>