<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modificar el cliente</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<h2>Modificar cliente</h2>
	<form action="#"
		th:action="@{/cliente/update/{idCliente}(idCliente=${cliente.idCliente})}"
		th:object="${cliente}" method="post">
		<table>
			<tr>
				<td><label>Identificador del cliente: </label></td>
				<td><input type="text" th:field="*{idCliente}" /></td>
			</tr>
			<tr>
				<td><label>Identificador del nombre: </label></td>
				<td><input type="text" th:field="*{nombre}" /></td>
			</tr>
			<tr>
				<td><label>Email: </label></td>
				<td><input type="text" th:field="*{email}" /></td>

			</tr>
			<tr>
				<td><label>Sexo: </label></td>
				<td><input type="text" th:field="*{sexo}" /></td>
			</tr>
			<tr>
				<td><label>Fecha de nacimiento: </label></td>
				<td><input type="text" th:field="*{fechaNacimiento}" /></td>
			</tr>
			
			<tr>
				<td colspan="2"><input type="submit"
					value="Modificar Cliente" /></td>
			</tr>
		</table>
	</form>
</body>
</html>