
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Gestionar los instructores</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Lista de las solicitudes de los instructores</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<p>Identificador de solicitud:</th>
					<p>Identificador de instructor:</th>
					<p>Nombre:</th>
					<p>Direccion:</th>
					<p>Dni:</th>
					<p>Telefono:</th>
					<p>Curriculum:</th>				
					<p></th>
					<p></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="registroInstructor: ${registros}">
					<td th:text="${registroInstructor.idRegistro}"></td>
					<td th:text="${registroInstructor.idInstructor}"></td>
					<td th:text="${registroInstructor.nombre}"></td>		
					<td th:text="${registroInstructor.direccion}"></td>
					<td th:text="${registroInstructor.dni}"></td>
					<td th:text="${registroInstructor.telefono}"></td>
					<td th:text="${registroInstructor.curriculum}"></td>
					

					
					<td><a
						th:href="@{/registroInstructor/delete/{idRegistro}(idRegistro=${registroInstructor.idRegistro})}"
						class="btn btn-danger" role="button">Borrar</a></td>
				</tr>
			</tbody>
		</table>
		<a href="add" class="btn btn-success" role="button">Añadir solicitud</a>
	</div>
</body>
</html>