<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>

<style>
ul {
	justify-content: center;
	display: flex;
}
</style>

<title>EI1027</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
</head>
<body>
	<div layout:fragment="content">
		<ul>
			<img src="/img/mountain.jpg" width="1050" height="450">
		</ul>
	</div>
</body>
</html>


