<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/base}">
<head>
<head>
<style>
ul {
	justify-content: center;
	display: flex;
}
</style>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>
<body>
<div layout:fragment="content">>
	<br></br>

	<ul>
	<form action="#" th:action="@{/login}" th:object="${usuario}" method="POST">
			
		
		</form>
	</ul>
</div>	
</body>
</html>