<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de usuarios del sistema</title>
<meta charset="UTF-8"/>
<!-- Afegim una fulla d'estil (Bootstrap) -->
<link rel="stylesheet"   
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>

<body>
	<h1>Lista de usuarios del sistema</h1>
    <div th:if="${#lists.isEmpty(usuario)}">
       No hay usuarios
    </div>
    <p th:unless="*{user == null}">
    <h1>Lista de usuarios del sistema</h1>
	<div th:replace="fragments/logininfo" >...</div>
    
    <table th:unless="${#lists.isEmpty(usuario)}"  class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      
      <tbody>
      
        <tr th:each="user: ${usuario}">
          <td th:text="${usuario.email}"></td>
        </tr>
      </tbody>
    </table>
    <a href="/" class="btn btn-primary" role="button">Volver</a>
</body>
</html>
